html {
	font-size: 62.5%;
}

* {
	box-sizing: border-box;
}

/* Style the header */

.headermaincontainer {
	border-bottom: 1px solid #000;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
.headercontainer {
	background-color: #fff;
	font-family: "trebuchet ms", sans-serif;
	padding: 0 180px;
	overflow: auto;
}

.leftlink {
	float: left;
	width: 33%;
}

.name {
	float: left;
	width: 33%;
	text-align: center;
	margin: 0px 0px;
}

.name h2 {
	font-size: 3.5rem;
	margin: 10px 0px;
}

.name p {
	font-size: 1.3rem;
	margin-top: 10px;
}

.rightlink {
	float: left;
	width: 33%;
	text-align: right;
}

.headercontainer a{
	text-decoration: none;
	font-size: 1.5rem;
	color: #000;
}

.headercontainer a:hover {
	color: #7e8187;
}

.headercontainer .leftlink,.headercontainer .rightlink {
	margin-top: 27px;
	padding: 10px;
	
}

/* Style the large image */

.bigpicturecontainer {
	background-image: url("bgimg.jpg");
	background-size: cover;
	margin-top: 88px;
	
}

.bigpicturecontainer h3 {
	font-family: "trebuchet ms", sans-serif;
	font-size: 3rem;
	text-align: center;
}

.bigpicturecontainer .content {
	padding-top: 300px;
	padding-bottom: 300px;
}