html {
	font-size: 62.5%;
}

* {
	box-sizing: border-box;
}

.show-for-large{display:block;} /* Large screen show this*/
.show-for-small{display:none;} /* Small screen show this, bit don't show above*/

/* Style the header */
.headermaincontainer {
	/*border-bottom: 1px solid #000;*/
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
	z-index:1000;
}
.headercontainer {
	background-color: #8da8b2;
	font-family: "Helvetica Neue", sans-serif;
	padding: 0 180px;
	overflow: auto;
}

.leftlink {
	float: left;
	width: 33%;

}

.name {
	float: left;
	width: 33%;
	text-align: center;
	margin: 10px 0px;
}

.name h2 {
	font-size: 4rem;
	margin: 10px 0px;
	font-weight:200;
	line-height:2.2rem;
	padding-top: 0.5rem;
	color:#112b53;
}

.name p {
	font-size: 1.2rem;
	margin-top: 10px;
	color:#112b53;
	font-weight: 500;
	letter-spacing: 0.5px;
}

.rightlink {
	float: left;
	width: 33%;
	text-align: right;
	margin: 0 auto;
	color:#112b53;
}

.headercontainer a{
	text-decoration: none;
	font-size: 1.5rem;
	color:#112b53;
}

.headercontainer a:hover {
	color: #d2def0;
}

.headercontainer .leftlink,.headercontainer .rightlink {
	margin-top: 27px;
	padding: 10px;
	
}

/* Style the large image */

.bigpicturecontainer {
	background-image: url("skyscrapers.jpeg");
	background-size: cover;
	width:100%;
	height:auto;
	margin-top: 88px;
	filter: grayscale(60%);
	z-index:-1;
	transition: all 3.0s;
}


.bigpicturecontainer h3 {
	font-family: "Helvetica Neue", sans-serif;
	font-size: 6rem;
	text-align: center;
	font-weight:100;
	color:#112b53;
	letter-spacing:1px;
	line-height:1.5rem;
}

.bigpicturecontainer .content {
	padding-top: 150px;
	padding-bottom: 300px;
}

/* About me section */
.maininfocontainer {
	position: relative;
	width: 100%;
	font-family: "Helvetica Neue", sans-serif;
	/*border-top: 1px solid #000;*/
	/*border-bottom: 1px solid #000;*/

}

.blue-background{
	background-color:#bbcfd7;
}

/*.myinfocontainer {*/
/*	width: 50%;*/
/*	margin: 0 auto;*/
/*	overflow: auto;*/
/*}*/

.buttoncontainer {
	width: 30%;
	margin-top: 101px;
	float: left;
}

.button {
	font-size: 2rem;
	color: #fff;
	text-decoration: none;
	/*border: 2px solid #000;*/
	padding: 11px;
	background-color: #8da8b2;
}

.button:hover {
	font-size: 2rem;
	color: #000;
	background-color: #fff;
}

.personalinfo {
	font-size: 1.6rem;
	padding: 3rem 8rem;
	text-align: center;
    width: 100%;
    overflow: auto;
}

.personalinfo p {
	font-family: "Helvetica Neue", sans-serif;
	font-size:1.6rem;
	line-height: 3rem;
    text-align: left;
	color:#112b53;
	font-weight:300;
}

.personalPicture {
    background-color: #bbcfd7;
}

.myPhoto {
	border-radius: 50%;
    border: 1px solid #000;
    margin-left: 175px;
    float: left;
}

.aboutMeText {
    text-align: center;
    width: 40%;
    float: left;
    margin-left: 125px;
}

/* Styling portfolio section */
.portfoliocontainer {
	width: 100%;
	height:100%;
	padding-bottom: 25px;
	background-color: #bbcfd7;
	overflow:auto;
	position: relative;
}

.portfolio-container-header {
	height:100px;
	margin-top: 0px;
	background-color: #a8c2cc;
	color:#112b53;
	margin-bottom:5rem;
}
.portfoliocontainer h1 {
	text-align: center;
	font-family: "Helvetica Neue", sans-serif;
	font-size: 2.5rem;
	font-weight: 300;
	padding-top: 35px;
	padding-bottom: 24px;
	margin-top: 0;
	color:#112b53;
	letter-spacing: 0.3px;
}

.pfLink {
	position: absolute;
	top: -93px;
}


.box-1container {
	position:relative;
	display:block;
	float: left;
	width: 33.3%;
	height: auto;
	padding: 0 50px;
	/*margin-bottom: 0.5rem;*/
	transition: linear 0.25s;
	min-height: 230px;
}

.box-overlay{
	position:absolute;
	top:0;
	right:10%;
	left:10%;
	width:80%;
	height:100%;
	margin: 0 auto;
	background-color:#bbcfd7;
	opacity:0;
	transition: all 0.5s;
	overflow:hidden;
}

.box-overlay:hover{
	display:block;
	height:100%;
	opacity:0.95;
}

.box-1container a {
	text-decoration: none;
	color:#000;
}

.box-textcontainer {
	margin:0 auto;
	height:auto;
	text-align: center;
	font-family: "Helvetica Neue", sans-serif;
}

.box-textcontainer h3{
	padding-top: 2rem;
	font-size: 2.5rem;
	font-weight:200;
	line-height:2rem;
}

.box-textcontainer p{
	line-height:1rem;
	font-weight:700;
	font-size: 1.1rem;
}

.tool {
	width: 34px;
	height: auto;
}

.box-imgcontainer > {
	text-align: center;
}

.contactMe-header {
	width: 100%;
	height:39px;
	background-color: #8da8b2;
	color:#112b53;
	margin-top: 0px;
}

.myinfocontainer h1 {
	text-align: center;
	font-family: "Helvetica Neue", sans-serif;
	font-size: 2.5rem;
	font-weight: 300;
	padding-top: 5px;
	margin-top: 0;
	color: #112b53;
	letter-spacing: 0.3px;
}

.cntLink {
	position: absolute;
	top: -93px;
}

.box-imgcontainer > img {
	width: 100%;
	max-width: 400px;
}

/* Styling the social media bar */

.smlinks img {
	width: auto;
	height: 50px;
}

.smlinkslarge {
	background-color: #8da8b2;
	width: 100%;
	padding-top: 30px;
}
	
.smlinks {
	font-family: "Helvetica Neue", sans-serif;
	overflow: auto;
	margin: 0 auto;
	width: 40%;
	text-align: center;
}
.icon {
	float: left;
	width: 33.3%;
	opacity: 1;
	background: transparent;
}

.smlinks a {
	font-family: "Helvetica Neue", sans-serif;
	font-size: 2.5rem;
	text-decoration: none;
	color: #000;
	
}

/* Styling the footer */
.footercontainerlarge {
	background-color: #8da8b2;
	width: 100%;
	padding-bottom: 40px;
}

.footercontainer {
	font-family: "Helvetica Neue", sans-serif;
	overflow: auto;
	margin: 0 auto;
	width: 70%;
	text-align: center;
}

.link {
	float: left;
	width: 33.3%;	
}

.footercontainer a {
	font-family: "Helvetica Neue", sans-serif;
	font-size: 2.5rem;
}

.icon.cv {
	padding-top: 10px;
}

.smlinks a:hover {
	color: #7e8187;
}

.amLink {
	position: absolute;
	top: -93px;
}

.footercontainer a {
	font-family: "Helvetica Neue", sans-serif;
	font-size: 1.3rem;
	text-decoration: none;
	color: #000;
}
/* Media Queries */
/*Media queries for between 769px and 1050px*/
@media screen and (max-width:1050px) {
	.show-for-small{display:block;}
	.show-for-large{display:none;}
/* MQ's for header */
	.headercontainer {
		padding: 0 0px;
	}

	.leftlink {
		width: 40%;
		margin-left: 10%;
	}

	.name {
		float: none;
		margin:0 auto;
		width: 100%;
		text-align: center;

	}

	.name h2 {
		font-size: 3.5rem;
	}

	.name p {
		font-size: 1.3rem;
		margin-top: 10px;
	}

	.rightlink {
		float: right;
		width: 40%;
		text-align: right;
		margin-right: 10%;
	}

	.headercontainer a{
		text-decoration: none;
		font-size: 1.5rem;
		color: #000;
	}

	.headercontainer a:hover {
		color: #7e8187;
	}

	.headercontainer .leftlink,.headercontainer .rightlink {
		margin-top: -1rem;
		padding: 10px;
	}
/* MQ's for large image section */
	.bigpicturecontainer .content {
	    padding-top: 211px;
	    padding-bottom: 183px;
	}

	.bigpicturecontainer h3 {
	    line-height: 1.1rem;
	}
	/* MQ's for about me and contact me sections */
	.myinfocontainer {
		font-family: "Helvetica Neue", sans-serif;
		width: 100%;
		margin: 0 auto;
		overflow: auto;
	}

	.buttoncontainer {
		width: 100%;
		margin-top: 34px;
		text-align: center;
	}

	.personalinfo {
		width: 85%;
		font-size: 1.6rem;
		margin-top: 17px;
	}

	.personalinfo p {
		line-height: 36px;
	}
	/*MQ's for portfolio section*/
	.box-3container {
		width: 100%;
	}

	.box-1container {
		padding: 0 20px;
	}
}
/*Media queries for up to 768px*/
@media screen and (max-width:768px) {
	.show-for-small{display:block;}
	.show-for-large{display:none;}
/* MQ's for portfolio section */
	.box-1container {
		width: 100%;
	}
	.bigpicturecontainer .content {
	    padding-top: 122px;
	    padding-bottom: 66px;
	}
/* MQ's for about me and contact me sections */
	.buttoncontainer {
	width: 100%;
	margin: 30px auto 0 auto;
	text-align: center;
}}
